.top-banner {
    min-height: 300px;
    background: #4a5568;
}

.top-banner-header {
    font-size: 50px;
    text-align: center;
}

.sidebar-category {
    min-height: 300px;
}

.product-card {
    margin-bottom: 2rem;
}

.product-card img{
    min-height: 170px;
    max-height: 170px;
}
